<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <!--日志路径-->
        <property name="LOG_HOME">logs</property>
        <!--日志输出级别 -->
        <property name="LOG_LEVEL">info</property>
        <!--日志输出格式 -->
        <property name="LOG_PATTERN">%d %p [%t] %location %m %ex%n</property>
    </properties>

    <Appenders>
        <!-- 定义控制台输出 -->
        <Console name="consoleLog" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>

        <!--INFO日志配置-->
        <RollingRandomAccessFile name="infoLog"
                                 immediateFlush="false"
                                 fileName="${LOG_HOME}/info.log"
                                 filePattern="${LOG_HOME}/info.%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" />

            <!-- 只显示INFO级别的信息 -->
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

        </RollingRandomAccessFile>

        <!--ERROR日志配置-->
        <RollingRandomAccessFile name="errorLog"
                                 fileName="${LOG_HOME}/error.log"
                                 filePattern="${LOG_HOME}/error.%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" />

            <!--只显示ERROR级别的信息-->
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!--日志级别-->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.apache.ibatis" level="INFO"/>
        <logger name="org.mybatis.spring" level="INFO" />
        <logger name="com.alibaba.dubbo.spring.boot" level="INFO" />
        <logger name="org.apache.zookeeper" level="INFO" />

        <AsyncRoot level="DEBUG">
            <AppenderRef ref="consoleLog"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="errorLog" />
        </AsyncRoot>
    </Loggers>
</configuration>